{
  "extends": ["next"],
  "rules": {
    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "off",
    "@next/next/no-document-import-in-page": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/no-unknown-property": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-vars": "off"
  }
}
